/* bacis style */
p {
  font-weight: 400;
  font-size: 16px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

/* main style */
nav {
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: #fff;
}

.container {
  padding: 20px 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav h1 {
  display: inline-block;
  margin: 0;
  padding: 0 4vw;
}

.nav-titles a {
  text-decoration: none;
  color: #000;
}

.nav-titles a:active {
  color: #000;
}

.shopping-info {
  display: flex;
  flex-direction: row;
}

#shopping-cart {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

#shopping-quantity {
  position: absolute;
  background-color: hsl(26, 77%, 61%);
  color: #fff;
  font-size: 11px;
  margin: -7px 0 0 20px;
  padding: 1px 7px;
  border-radius: 10px;
}

.shopping-quantity-unvisible {
  visibility: hidden;
}

.company-name {
  font-weight: 700;
  color: hsl(26, 77%, 61%);
  text-transform: uppercase;
  padding-top: 10px;
}

.product-info-text {
  line-height: 150%;
  color: rgb(159, 159, 159);
}

.new-price {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.discount {
  content: "";
  width: auto;
  height: auto;
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0 10px;
  color: hsl(26, 100%, 55%);
}

.old-price {
  text-decoration: line-through;
  color: rgb(159, 159, 159);
}

#outer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  margin: 10px 0;
  height: 45px;
}

.inner {
  text-align: center;
}

.pruduct-quantity {
  font-weight: bold;
  font-size: 20px;
}

.minus-button,
.plus-button {
  background-color: hsl(223, 64%, 98%);
  padding: 0 20px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-weight: 600;
  color: hsl(26, 100%, 55%);
  cursor: pointer;
}

.add-to-cart-button {
  width: 100%;
  margin: 10px 0 100px;
  padding: 0 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  background-color: hsl(26, 100%, 55%);
  color: hsl(25, 100%, 94%);
  text-align: center;
  box-shadow: 0 20px 38px hsl(26, 100%, 89%);
  height: 45px;
  cursor: pointer;
}

.add-to-cart-button img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(52%) saturate(446%)
    hue-rotate(296deg) brightness(100%) contrast(111%);
  width: 18px;
  margin: 0 13px -2px 0;
}

#modal-button {
  width: 100vw;
  height: 100vh;
}

dialog {
  padding: 0;
}

dialog p {
  padding: 0 20px;
}

.dialog-hr {
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: #e8e6e6;
  border: none;
}

.dialog-title {
  padding: 2vh 20px;
  font-weight: bold;
}

.dialog-text-empty {
  padding: 5vh 0;
  text-align: center;
}

.dialog-text-empty-unvisible {
  display: none;
}

.dialog-text-filled {
  padding: 3vh;
}

#dialog-text-filled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dialog-text-filled-unvisible {
  display: none;
}

.basket-img {
  border-radius: 5px;
  margin-right: 15px;
}

.basket-text {
  display: flex;
  flex-direction: row;
  line-height: 150%;
  color: hsl(219, 9%, 45%);
}

.delete-basket {
  padding: 5% 0;
  cursor: pointer;
}

#dialog-btn {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

#order-products {
  height: 100px;
  padding: 0px;
  margin: 0;
}

.product-main-img {
  width: 100%;
}

#carousel-img {
  cursor: pointer;
}

.previous-arrow button img,
.next-arrow button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
}

.previous-arrow button,
.next-arrow button {
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 15px;
  border: none;
  cursor: pointer;
}

.previous-arrow {
  position: absolute;
  left: 0px;
  bottom: 45vw;
}

.next-arrow {
  position: absolute;
  right: 0px;
  bottom: 45vw;
}

/* mobile view */
@media only screen and (max-width: 1200px) {
  .hr-collections,
  .hr-men,
  .hr-women,
  .hr-about,
  .hr-contact {
    display: none;
  }

  .nav-titles {
    position: absolute;
    height: 100vh;
    background-color: #fff;
    width: 80vw;
    z-index: 10;
    left: 0;
  }

  .close-button {
    margin-bottom: 50px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .nav-titles ul {
    list-style-type: none;
    padding: 30px 0 0 30vw;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
  }

  .nav-titles-unvisible {
    display: none;
  }

  .container {
    padding: 20px 6vw 0 6vw;
  }

  #toggle-menu {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .toggle-menu-visible {
    height: 16px;
  }

  .nav-hr {
    visibility: hidden;
  }

  #empty-basket {
    width: 90vw;
    border: none;
    border-radius: 10px;
    height: fit-content;
    margin-top: 90px;
  }

  #dialog-btn {
    height: 45px;
  }

  .avatar {
    height: 25px;
    padding-left: 2vw;
  }

  .basket-img {
    width: 70px;
    height: 70px;
  }

  .section-img {
    padding-top: 60px;
  }

  .container-img {
    position: relative;
    display: flex;
    align-items: center;
  }

  .container-product-info {
    padding: 0 6vw;
  }

  .product-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #carousel-img {
    cursor: context-menu;
    pointer-events: none;
  }

  #selected-product-images,
  #modal-selected-product-images {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #toggle-menu {
    display: none;
  }

  .close-button {
    display: none;
  }

  #all-titles {
    display: flex;
    flex-direction: row;
  }

  .nav-titles ul {
    list-style-type: none;
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
  }

  .nav-titles a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    padding: 0px 10px;
  }

  #collections-title > .hr-collections,
  #men-title > .hr-men,
  #women-title > .hr-women,
  #about-title > .hr-about,
  #contact-title > .hr-contact {
    visibility: hidden;
  }

  #collections-title:hover > .hr-collections,
  #men-title:hover > .hr-men,
  #women-title:hover > .hr-women,
  #about-title:hover > .hr-about,
  #contact-title:hover > .hr-contact {
    visibility: visible;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    border: hsl(26, 100%, 55%);
    position: relative;
    bottom: -30px;
  }

  .nav-hr {
    margin: 0 10vw 40px 10vw;
  }

  #empty-basket {
    width: 340px;
    border: none;
    border-radius: 10px;
    height: fit-content;
    margin-right: 100px;
    margin-top: 100px;
  }

  .basket-img {
    width: 45px;
    height: 45px;
  }

  dialog {
    box-shadow: 0px 15px 50px #c9c9c9;
  }

  #empty-basket::backdrop {
    background: rgba(0, 0, 0, 0);
  }

  dialog p {
    padding: 0;
  }

  .dialog-title {
    padding: 5px 20px;
  }

  .dialog-text-empty {
    padding: 5vh 0;
    text-align: center;
  }

  .dialog-text-filled {
    padding: 20px;
  }

  #order-products {
    height: 80px;
    padding: 0px;
    margin: 0;
  }

  #dialog-btn {
    height: 50px;
    margin-top: 0px;
  }

  .section-img {
    display: flex;
    flex-direction: row;
    padding: 150px 20vw 0 20vw;
  }

  .avatar {
    height: 40px;
    margin-top: -10px;
    padding-left: 40px;
  }

  .product-main-img {
    border-radius: 10px;
  }

  .container-product-info {
    padding-top: 2vw;
    margin-left: 3vw;
  }

  .addition-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .add-to-cart-button-div {
    margin-left: 20px;
    width: 100%;
  }

  #modal-close-btn {
    background: rgba(0, 0, 0, 0.01);
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 0 3px 15px 0;
    float: right;
    cursor: pointer;
  }

  #modal-close-btn:focus {
    outline: none;
    box-shadow: none;
  }

  #modal-close-btn:hover {
    color: hsl(26, 100%, 55%);
  }

  .arrows-unvisible {
    display: none;
  }

  .previous-arrow {
    bottom: 50%;
  }

  .next-arrow {
    bottom: 50%;
  }

  .selected-product-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
  }

  #selected-product-images,
  #modal-selected-product-images {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #modal-selected-product-images li,
  #selected-product-images li {
    margin: 10px;
  }

  .thumbnail-btn-all {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
  }

  #selected-product-images img,
  #modal-selected-product-images img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .thumbnail-img-lighter {
    opacity: 0.5;
  }

  .thumbnail-img {
    opacity: 1;
  }

  .no-pointer-events *:not(#dialog) {
    pointer-events: none;
  }

  .thumbnail-btn-selected {
    border: 2px solid hsl(26, 100%, 55%);
  }

  .thumbnail-btn {
    border: none;
  }

  .thumbnail-img:hover {
    opacity: 0.5;
  }

  #main-modal {
    max-height: 100vh;
    width: 400px;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.01);
    border: none;
    padding: 40px;
  }

  #main-modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
}
